#version=RHEL8
ignoredisk --only-use=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp1s0 --gateway=192.168.1.254 --ip=192.168.1.20 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=client.rhel.lab
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$QTYmwvSZLL1JTk2N$Yspw/OXd8Y.sTbdQOJejz0tjqyhzj8HSL0brCd7WkYAYQt5w0SOPmvaL4sRTuQl/cLRHXz1obs7iO2YeOPoVH.
# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=radmin --password=$6$FcsCcJNzAb8/8UpT$bGoHuJkUoKNWMUcUry8odE43rrpR6rI.fgDuSxvSN1zLvi4LHD79KLCsxRRe6DCQ0NCMVG7tZHoLDCLx8JTqB1 --iscrypted --gecos="RHEL Admin"

%packages
@^graphical-server-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
