#version=RHEL8
ignoredisk --only-use=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
network  --bootproto=static --device=enp2s0 --gateway=192.168.1.254 --ip=192.168.1.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=server1.rhel.lab
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$2OwfWKghHHzHNMqm$kEAFA5BIk/tcQYusLUwWbOdJJ6Vc0tUHy3Zz5vQo9LtSPBIuRdf494TuQHw0kWPxUyEaewofXL842n6ErnAuV1
# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=radmin --password=$6$8ppEQwbH/sNBxnYD$8W3Hwi5pnIC4XQPD3ZHy7lg5QQJbd3us8WzuKObOQxVhmb9vKG.ZBvjLGvc5utH9Ax85xcsbHfxrAJGZOzpxL1 --iscrypted --gecos="RHEL Admin"

%packages
@^graphical-server-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
